version: '3.3'

services:
  nginx:
    links:
      - golang
    image: nginx:latest
    container_name: nginx_docker
    volumes:
      - ./nginx:/etc/nginx/conf.d
    environment: 
      TZ: Asia/Shanghai
    ports:
      - "80:80"
    # restart: always
    networks:
      - go_develop

  golang:
    depends_on:
      - mysql
    build: ./golang
    image: xiabee/golang
    container_name: golang_docker
    links:
      - mysql
    environment: 
      TZ: Asia/Shanghai
    networks:
      - go_develop

  mysql:
    image: mysql:latest
    container_name: mysql_docker
    volumes: 
        - ./mysql/conf.d:/etc/mysql/conf.d
        - ./mysql/init:/docker-entrypoint-initdb.d/
        # docker-entrypoint-initdb.d目录下的文件会自动执行
    environment: 
        MYSQL_RANDOM_ROOT_PASSWORD: 1
        # 设置管理员随机密码
        MYSQL_USER: test
        MYSQL_PASSWORD: test
        # 创建用户
        TZ: Asia/Shanghai
        LANG: C.UTF-8
    restart: always

    networks:
      - go_develop

networks:
    go_develop:
        driver: bridge